html {
    height: 100%;
    font-size: 24px;
    body {
        height: 100%;
        .wrapper {
            min-height: 100%;
            header {
                height: 50px;
            }
            main {
                height: 100%;
                width: 80%;
                margin-bottom: -50px;
                margin-left: auto;
                margin-right: auto;
                nav {
                    width: 100%;
                    height: 48px;
                    border-bottom: 1px solid black;
                    border-top: none;
                    position: fixed;
                    left: 0;
                    top: 0;
                    background: #bababa; //background for old browsers
                    background: linear-gradient(0deg, #e0e0e0, #a6a6a6);
                    ul {
                        height: 100%;
                        li {
                            height: 48px;
                            line-height: 48px;
                            vertical-align: middle;
                            float: left;
                            position: relative;
                            padding: 0 10px 0 10px;
                            border-right: 1px solid black;
                            transition: background 0.3s ease-out 0.1s;
                            &:hover {
                                //change background color for navigation elements
                                background: #f0f0f0;
                            }
                            &:hover ul {
                                display: block; //show dropdown list
                                position: absolute;
                                left: -1px;
                                font-size: 0.8rem;
                                li {
                                    &:first-child {
                                        border-top: 1px solid black;
                                    }
                                    width: 130%;
                                    background: #bababa; //for old browsers
                                    background: linear-gradient(0deg, #e0e0e0, #a6a6a6);
                                    border: 1px solid black;
                                    border-top: none;
                                    transition: background 0s ease-out 0s;
                                    &:hover {
                                        //change background color for dropdown elements
                                        background: #f0f0f0;
                                    }
                                }
                            }
                            ul {
                                //hide dropdown list when it's not in focus
                                display: none;
                            }
                            &:last-child {
                                border-right: none;
                            }
                        }
                    }
                    #searchForm {
                        position: absolute;
                        right: 10px;
                        top: 8px;
                        input[type="text"] {
                            border: 1px solid black;
                            border-radius: 5px;
                            background-color: #F2F2F2;
                            height: 20px;
                        }
                        input[type="submit"] {
                            background: url("../images/search_img.png");
                            background-size: contain;
                            width: 17px;
                            height: 17px;
                            cursor: pointer;
                            border: none;
                            right: 3px;
                            top: 8px;
                            position: absolute;
                        }
                    }
                    #langBar {
                        right: 5%;
                        position: fixed;
                        top: 50px;
                        & > * {
                            display: inline-block; //place blocks in same line
                        }
                        height: 34.5px;
                        label {
                            padding-right: 3px;
                            position: relative;
                            bottom: 0;
                            vertical-align: top;
                        }
                        $img-height: 20px;
                        $img-width: 40px;
                        input[type="radio"] {
                            display: none; //hide radiobutton markers
                            & + label {
                                img {
                                    vertical-align: top;
                                    border: 1px solid black;
                                    border-radius: 3px;
                                    cursor: pointer;
                                    width: $img-width;
                                    height: $img-height;
                                    transition: width 1s ease-in, height 1s ease-in;
                                }
                            }
                            &:checked + label img {
                                //enhance the language-icon size
                                border: 3px solid #B5B5B5;
                                width: $img-width + 8px;
                                height: $img-height + 4px;
                            }
                        }
                    }
                }
                #reservation {
                    width: 80%;
                    margin: 0 auto;
                    padding: 40px 10px 10px 10px;
                    font-size: 0.8rem;
                    fieldset {
                        padding: 20px;
                        border: 2px #a1a1a1 solid;
                        border-radius: 10px;
                        legend {
                            font-weight: bold;
                        }
                        span {
                            line-height: 1.5rem;
                        }
                        input {
                            font-size: 0.7rem;
                            border: 2px #a1a1a1 solid;
                            border-radius: 5px;
                            &:focus {
                                outline: none;//hide the style in some browsers
                                border: 3px #a1a1a1 solid;
                            }
                        }
                        div {//wrapper for custom style of select
                            display: inline-block;
                            vertical-align: middle;
                            overflow: hidden;//hide part of select (with default arrow)
                            width: 5.5rem;
                            border: 2px #a1a1a1 solid;
                            border-radius: 5px;
                            background-image: url('../images/arrowForSelect.png');
                            background-repeat: no-repeat;
                            background-size: auto 100%;
                            background-position: 4.5rem 0;
                            select {
                                width: 6.5rem;//size larger than wrapper size
                                font-size: 0.7rem;
                                border: none;
                                background: transparent;//show the wrapper background
                            }
                        }
                        button[type="submit"] {
                            display: block;//for horizontal align
                            height: 2rem;
                            margin: 1rem auto;
                            font-size: 0.8rem;
                            color: #dedede;
                            background: #0f1; //for old browsers
                            background: linear-gradient(0deg, #006602, #00ff04);
                            border: 2px #a1a1a1 solid;
                            border-radius: 5px;
                        }
                        button[type="reset"] {
                            display: block;
                            margin: 0 auto 0 auto;
                            font-size: 0.6rem;
                            border: 2px #a1a1a1 solid;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
        footer {
            height: 50px;
            margin-top: -50px;
            text-align: center;
            background-color: #BDBDBD;
            border-radius: 20px;
        }
    }
}
