.errorMessageAfterInput {
  color: red;
  font-size: 0.8rem;
  font-weight: bold; }

html {
  height: 100%;
  font-size: 24px; }
  html body {
    position: relative;
    min-height: 100%; }
    html body .wrapper header {
      margin: 0 auto;
      width: 80%;
      padding: 10px 0 10px 0;
      text-align: center;
      background-color: rgba(240, 240, 240, 0.4); }
      html body .wrapper header section {
        position: relative;
        overflow: hidden; }
        html body .wrapper header section img {
          width: 8%; }
        html body .wrapper header section .leftLine,
        html body .wrapper header section .rightLine {
          display: inline-block;
          position: absolute;
          top: 50%;
          width: 46%;
          border-top: 2px solid blue; }
        html body .wrapper header section .leftLine {
          left: 0; }
        html body .wrapper header section .address {
          float: left; }
          html body .wrapper header section .address a {
            color: #001ee0; }
        html body .wrapper header section .tel {
          float: right; }
    html body .wrapper nav {
      width: 90%;
      height: 48px;
      border: 1px solid black;
      border-radius: 10px;
      position: relative;
      margin: 0 auto;
      background: #bababa;
      background: linear-gradient(0deg, #e0e0e0, #a6a6a6); }
      html body .wrapper nav ul {
        height: 100%; }
        html body .wrapper nav ul li {
          height: 48px;
          line-height: 48px;
          vertical-align: middle;
          float: left;
          position: relative;
          padding: 0 10px 0 10px;
          cursor: pointer;
          border-right: 1px solid black;
          transition: background 0.5s ease-out; }
          html body .wrapper nav ul li:hover {
            background: #f0f0f0; }
            html body .wrapper nav ul li:hover:first-child {
              border-radius: 10px 0 0 10px; }
          html body .wrapper nav ul li:hover ul {
            top: 48px;
            left: -1px; }
          html body .wrapper nav ul li ul {
            position: absolute;
            z-index: 101;
            top: -999px;
            font-size: 0.8rem; }
            html body .wrapper nav ul li ul li {
              width: 130%;
              background: #bababa;
              background: linear-gradient(to top, #e0e0e0, #a6a6a6);
              border: 1px solid black;
              border-top: none;
              transition: background 0s ease-out; }
              html body .wrapper nav ul li ul li:first-child {
                border-top: 1px solid black; }
              html body .wrapper nav ul li ul li:last-child {
                border-right: 1px solid black; }
              html body .wrapper nav ul li ul li:hover {
                background: #f0f0f0; }
                html body .wrapper nav ul li ul li:hover:first-child {
                  border-radius: 0px; }
          html body .wrapper nav ul li:last-child {
            border-right: none; }
      html body .wrapper nav #searchForm {
        position: absolute;
        right: 10px;
        top: 8px; }
        html body .wrapper nav #searchForm input[type="text"] {
          border: 1px solid black;
          border-radius: 5px;
          height: 24px; }
        html body .wrapper nav #searchForm input[type="submit"] {
          right: 0;
          bottom: -2px;
          height: 100%;
          width: 25px;
          cursor: pointer;
          border: 1px solid transparent;
          outline: none;
          background: transparent;
          position: absolute;
          z-index: 1000; }
        html body .wrapper nav #searchForm img {
          right: 2px;
          height: 23px;
          bottom: 2px;
          position: absolute;
          z-index: 10; }
      html body .wrapper nav #langBar {
        right: 5%;
        position: absolute;
        top: -140px;
        height: 34.5px; }
        html body .wrapper nav #langBar > * {
          display: inline-block; }
        html body .wrapper nav #langBar label {
          padding-right: 3px;
          position: relative;
          bottom: 0;
          vertical-align: top; }
        html body .wrapper nav #langBar input[type="radio"] {
          display: none; }
          html body .wrapper nav #langBar input[type="radio"] + label img {
            vertical-align: top;
            border: 1px solid black;
            border-radius: 3px;
            cursor: pointer;
            width: 40px;
            height: 20px;
            transition: width 1s ease-in, height 1s ease-in; }
          html body .wrapper nav #langBar input[type="radio"]:checked + label img {
            border: 3px solid #B5B5B5;
            width: 48px;
            height: 24px; }
    html body .wrapper main {
      width: 80%;
      padding-bottom: 30px;
      padding-top: 10px;
      margin-left: auto;
      margin-right: auto;
      background-color: rgba(240, 240, 240, 0.4); }
      html body .wrapper main .item {
        border: 1px solid black;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin: 10px;
        height: auto;
        overflow: hidden; }
        html body .wrapper main .item h3 {
          font-weight: bold; }
        html body .wrapper main .item img {
          display: block;
          float: left;
          width: 40%;
          margin: 1%; }
        html body .wrapper main .item .informationAboutRoom {
          float: left;
          margin-left: 10px; }
          html body .wrapper main .item .informationAboutRoom button {
            display: inline-block;
            height: 2rem;
            margin: 1rem auto;
            font-size: 0.8rem;
            color: #dedede;
            background: #0f1;
            background: linear-gradient(0deg, #006602, #00ff04);
            border: 2px #a1a1a1 solid;
            border-radius: 5px; }
          html body .wrapper main .item .informationAboutRoom ul {
            margin: 0 0 20px 3%; }
            html body .wrapper main .item .informationAboutRoom ul li {
              list-style-type: circle;
              border-bottom: 1px solid black; }
        html body .wrapper main .item textarea {
          margin-left: 1%;
          resize: none;
          width: 50%;
          height: 100px;
          border-radius: 10px; }
        html body .wrapper main .item .addComment {
          display: inline-block;
          height: 2rem;
          margin: 1rem auto;
          font-size: 0.8rem;
          color: #dedede;
          background: #009df7;
          background: linear-gradient(0deg, #94d8ff, #1b7db5);
          border: 2px #a1a1a1 solid;
          border-radius: 5px;
          margin-left: 1%; }
      html body .wrapper main #reservation {
        width: 80%;
        margin: 0 auto;
        padding: 40px 10px 10px 10px;
        font-size: 0.8rem; }
        html body .wrapper main #reservation fieldset {
          padding: 20px;
          border: 2px #a1a1a1 solid;
          border-radius: 10px; }
          html body .wrapper main #reservation fieldset legend {
            font-weight: bold; }
          html body .wrapper main #reservation fieldset span {
            line-height: 1.5rem; }
          html body .wrapper main #reservation fieldset input {
            font-size: 0.7rem;
            border: 2px #a1a1a1 solid;
            border-radius: 5px; }
            html body .wrapper main #reservation fieldset input:focus {
              outline: none;
              border: 3px #a1a1a1 solid; }
          html body .wrapper main #reservation fieldset div {
            display: inline-block;
            vertical-align: middle;
            overflow: hidden;
            width: 5.5rem;
            border: 2px #a1a1a1 solid;
            border-radius: 5px;
            background-image: url("../images/arrowForSelect.png");
            background-repeat: no-repeat;
            background-size: auto 100%;
            background-position: 4.5rem 0; }
            html body .wrapper main #reservation fieldset div select {
              width: 6.5rem;
              font-size: 0.7rem;
              border: none;
              background: transparent; }
          html body .wrapper main #reservation fieldset button[type="submit"] {
            display: block;
            height: 2rem;
            margin: 1rem auto;
            font-size: 0.8rem;
            color: #dedede;
            background: #0f1;
            background: linear-gradient(0deg, #006602, #00ff04);
            border: 2px #a1a1a1 solid;
            border-radius: 5px; }
          html body .wrapper main #reservation fieldset button[type="reset"] {
            display: block;
            margin: 0 auto 0 auto;
            font-size: 0.6rem;
            border: 2px #a1a1a1 solid;
            border-radius: 5px; }
      html body .wrapper main .map .roomTitle {
        position: absolute;
        left: 25%;
        top: 10%;
        z-index: 100;
        font-size: 0.5rem;
        background: #ffffe6;
        padding: 5px 10px;
        border: 1px solid #333;
        width: 55% !important;
        height: auto !important; }
      html body .wrapper main .map div {
        position: relative; }
        html body .wrapper main .map div img {
          display: block; }
        html body .wrapper main .map div div[class^=room] {
          position: absolute;
          height: 90px;
          width: 159px;
          overflow: hidden; }
          html body .wrapper main .map div div[class^=room]:hover {
            border: 2px solid white;
            cursor: pointer; }
          html body .wrapper main .map div div[class^=room] > div:hover {
            border: 1px solid black;
            cursor: pointer; }
        html body .wrapper main .map div .restourant {
          position: absolute;
          overflow: hidden;
          left: 14px;
          top: 303px;
          height: 280px;
          width: 205px; }
          html body .wrapper main .map div .restourant:hover {
            border: 2px solid white;
            cursor: pointer; }
        html body .wrapper main .map div .room1 {
          left: 227px;
          top: 13px; }
        html body .wrapper main .map div .room2 {
          left: 227px;
          top: 109px; }
        html body .wrapper main .map div .room3 {
          left: 227px;
          top: 13px; }
        html body .wrapper main .map div .room4 {
          left: 227px;
          top: 109px; }
        html body .wrapper main .map div .room5 {
          left: 227px;
          top: 303px; }
        html body .wrapper main .map div .room6 {
          left: 227px;
          top: 400px; }
        html body .wrapper main .map div .room7 {
          left: 227px;
          top: 497px; }
        html body .wrapper main .map div .room8 {
          left: 14px;
          top: 13px; }
        html body .wrapper main .map div .room9 {
          left: 14px;
          top: 109px; }
        html body .wrapper main .map div .room10 {
          left: 14px;
          top: 208px; }
        html body .wrapper main .map div .room11 {
          left: 14px;
          top: 303px; }
        html body .wrapper main .map div .room12 {
          left: 14px;
          top: 400px; }
        html body .wrapper main .map div .room13 {
          left: 14px;
          top: 497px; }
        html body .wrapper main .map div div[class^=room14] {
          width: 113px;
          left: 227px;
          top: 13px; }
        html body .wrapper main .map div div[class^=room15] {
          width: 113px;
          left: 227px;
          top: 109px; }
        html body .wrapper main .map div .room16 {
          left: 227px;
          top: 303px; }
        html body .wrapper main .map div div[class^=room17] {
          width: 113px;
          left: 227px;
          top: 400px; }
        html body .wrapper main .map div div[class^=room18] {
          width: 113px;
          left: 227px;
          top: 497px; }
        html body .wrapper main .map div div[class^=room19] {
          width: 113px;
          left: 59px;
          top: 13px; }
        html body .wrapper main .map div div[class^=room20] {
          width: 113px;
          left: 59px;
          top: 109px; }
        html body .wrapper main .map div .room21 {
          left: 14px;
          top: 206px; }
        html body .wrapper main .map div .room22 {
          left: 14px;
          top: 302px; }
        html body .wrapper main .map div div[class^=room23] {
          width: 113px;
          left: 59px;
          top: 400px; }
        html body .wrapper main .map div div[class^=room24] {
          width: 113px;
          left: 59px;
          top: 497px; }
    html body footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 30px;
      text-align: center;
      background-color: #BDBDBD;
      border-radius: 20px; }

/*# sourceMappingURL=generalStyles.css.map */
