@mixin btnSuccess($display, $bckgr, $bckgrGrad) {
    display: $display; //for horizontal align
    height: 2rem;
    margin: 1rem auto;
    font-size: 0.8rem;
    color: #dedede;
    background: $bckgr; //for old browsers
    background: $bckgrGrad;
    border: 2px #a1a1a1 solid;
    border-radius: 5px;
}

.errorMessageAfterInput {
    color: red;
    font-size: 0.8rem;
    font-weight: bold;
}

html {
    height: 100%;
    font-size: 24px;
    body {
        position: relative;
        min-height: 100%;
        .wrapper {
            header {
                margin: 0 auto;
                width: 80%;
                padding: 10px 0 10px 0;
                text-align: center;
                background-color: rgba(240, 240, 240, 0.4);
                section {
                    position: relative;
                    overflow: hidden;
                    img {
                        width: 8%;
                    }
                    .leftLine,
                    .rightLine {
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        width: 46%;
                        border-top: 2px solid blue;
                    }
                    .leftLine {
                        left: 0;
                    }
                    .address {
                        float: left;
                        a {
                            color: #001ee0;
                        }
                    }
                    .tel {
                        float: right;
                    }
                }
            }
            nav {
                width: 90%;
                height: 48px;
                border: 1px solid black;
                border-radius: 10px;
                position: relative;
                margin: 0 auto;
                background: #bababa; //background for old browsers
                background: linear-gradient(0deg, #e0e0e0, #a6a6a6);
                ul {
                    height: 100%;
                    li {
                        height: 48px;
                        line-height: 48px;
                        vertical-align: middle;
                        float: left;
                        position: relative;
                        padding: 0 10px 0 10px;
                        cursor: pointer;
                        border-right: 1px solid black;
                        transition: background 0.5s ease-out;
                        &:hover {
                            //change background color for navigation elements
                            background: #f0f0f0;
                            &:first-child {
                                border-radius: 10px 0 0 10px;
                            }
                        }
                        &:hover ul {
                            top: 48px;
                            left: -1px;
                        }
                        ul {
                            position: absolute;
                            z-index: 101;
                            top: -999px; //hide dropdown list when it's not in focus
                            font-size: 0.8rem;
                            li {
                                width: 130%;
                                background: #bababa; //for old browsers
                                background: linear-gradient(to top, #e0e0e0, #a6a6a6);
                                border: 1px solid black;
                                border-top: none;
                                transition: background 0s ease-out;
                                &:first-child {
                                    border-top: 1px solid black;
                                }
                                &:last-child {
                                    border-right: 1px solid black;
                                }
                                &:hover {
                                    //change background color for dropdown elements
                                    background: #f0f0f0;
                                    &:first-child {
                                        border-radius: 0px;
                                    }
                                }
                            }
                        }
                        &:last-child {
                            border-right: none;
                        }
                    }
                }
                #searchForm {
                    position: absolute;
                    right: 10px;
                    top: 8px;
                    input[type="text"] {
                        border: 1px solid black;
                        border-radius: 5px;
                        height: 24px;
                    }
                    input[type="submit"] {
                        right: 0;
                        bottom: -2px;
                        height: 100%;
                        width: 25px;
                        cursor: pointer;
                        border: 1px solid transparent;
                        outline: none;
                        background: transparent;
                        position: absolute;
                        z-index: 1000;
                    }
                    img {
                        right: 2px;
                        height: 23px;
                        bottom: 2px;
                        position: absolute;
                        z-index: 10;
                    }
                }
                #langBar {
                    right: 5%;
                    position: absolute;
                    top: -140px;
                    & > * {
                        display: inline-block; //place blocks in same line
                    }
                    height: 34.5px;
                    label {
                        padding-right: 3px;
                        position: relative;
                        bottom: 0;
                        vertical-align: top;
                    }
                    $img-height: 20px;
                    $img-width: 40px;
                    input[type="radio"] {
                        display: none; //hide radiobutton markers
                        & + label {
                            img {
                                vertical-align: top;
                                border: 1px solid black;
                                border-radius: 3px;
                                cursor: pointer;
                                width: $img-width;
                                height: $img-height;
                                transition: width 1s ease-in, height 1s ease-in;
                            }
                        }
                        &:checked + label img {
                            //enhance the language-icon size
                            border: 3px solid #B5B5B5;
                            width: $img-width + 8px;
                            height: $img-height + 4px;
                        }
                    }
                }
            }
            main {
                width: 80%;
                padding-bottom: 30px;
                padding-top: 10px;
                margin-left: auto;
                margin-right: auto;
                background-color: rgba(240, 240, 240, 0.4);
                .item {
                    border: 1px solid black;
                    border-radius: 10px;
                    margin-left: auto;
                    margin-right: auto;
                    margin: 10px;
                    height: auto;
                    overflow: hidden;
                    h3 {
                        font-weight: bold;
                    }
                    img {
                        display: block;
                        float: left;
                        width: 40%;
                        margin: 1%;
                    }
                    .informationAboutRoom {
                        float: left;
                        margin-left: 10px;
                        button {
                            @include btnSuccess(inline-block, #0f1, linear-gradient(0deg, #006602, #00ff04));
                        }
                        ul {
                            margin: 0 0 20px 3%;
                            li {
                                list-style-type: circle;
                                border-bottom: 1px solid black;
                            }
                        }
                    }
                    textarea {
                        margin-left: 1%;
                        resize: none;
                        width: 50%;
                        height: 100px;
                        border-radius: 10px;
                    }
                    .addComment {
                        @include btnSuccess(inline-block, #009df7, linear-gradient(0deg, #94d8ff, #1b7db5));
                        margin-left: 1%;
                    }
                }
                #reservation {
                    width: 80%;
                    margin: 0 auto;
                    padding: 40px 10px 10px 10px;
                    font-size: 0.8rem;
                    fieldset {
                        padding: 20px;
                        border: 2px #a1a1a1 solid;
                        border-radius: 10px;
                        legend {
                            font-weight: bold;
                        }
                        span {
                            line-height: 1.5rem;
                        }
                        input {
                            font-size: 0.7rem;
                            border: 2px #a1a1a1 solid;
                            border-radius: 5px;
                            &:focus {
                                outline: none; //hide the style in some browsers
                                border: 3px #a1a1a1 solid;
                            }
                        }
                        div {
                            //wrapper for custom style of select
                            display: inline-block;
                            vertical-align: middle;
                            overflow: hidden; //hide part of select (with default arrow)
                            width: 5.5rem;
                            border: 2px #a1a1a1 solid;
                            border-radius: 5px;
                            background-image: url('../images/arrowForSelect.png');
                            background-repeat: no-repeat;
                            background-size: auto 100%;
                            background-position: 4.5rem 0;
                            select {
                                width: 6.5rem; //size larger than wrapper size
                                font-size: 0.7rem;
                                border: none;
                                background: transparent; //show the wrapper background
                            }
                        }
                        button[type="submit"] {
                            @include btnSuccess(block,
                            #0f1,
                            linear-gradient(0deg, #006602, #00ff04));
                        }
                        button[type="reset"] {
                            display: block;
                            margin: 0 auto 0 auto;
                            font-size: 0.6rem;
                            border: 2px #a1a1a1 solid;
                            border-radius: 5px;
                        }
                    }
                }
                .map {
                    .roomTitle {
                        position: absolute;
                        left: 25%;
                        top: 10%;
                        z-index: 100;
                        font-size: 0.5rem;
                        background: rgb(255, 255, 230);
                        padding: 5px 10px;
                        border: 1px solid #333;
                        width: 55% !important;
                        height: auto !important;
                    }
                    div {
                        position: relative;
                        img {
                            display: block;
                        }
                        div[class^=room] {
                            position: absolute;
                            height: 90px;
                            width: 159px;
                            overflow: hidden;
                            &:hover {
                                border: 2px solid white;
                                cursor: pointer;
                            }
                            &>div:hover {
                                border: 1px solid black;
                                cursor: pointer;
                            }
                        }
                        .restourant {
                            position: absolute;
                            overflow: hidden;
                            left: 14px;
                            top: 303px;
                            height: 280px;
                            width: 205px;
                            &:hover {
                                border: 2px solid white;
                                cursor: pointer;
                            }
                        }
                        .room1 {
                            left: 227px;
                            top: 13px;
                        }
                        .room2 {
                            left: 227px;
                            top: 109px;
                        }
                        .room3 {
                            left: 227px;
                            top: 13px;
                        }
                        .room4 {
                            left: 227px;
                            top: 109px;
                        }
                        .room5 {
                            left: 227px;
                            top: 303px;
                        }
                        .room6 {
                            left: 227px;
                            top: 400px;
                        }
                        .room7 {
                            left: 227px;
                            top: 497px;
                        }
                        .room8 {
                            left: 14px;
                            top: 13px;
                        }
                        .room9 {
                            left: 14px;
                            top: 109px;
                        }
                        .room10 {
                            left: 14px;
                            top: 208px;
                        }
                        .room11 {
                            left: 14px;
                            top: 303px;
                        }
                        .room12 {
                            left: 14px;
                            top: 400px;
                        }
                        .room13 {
                            left: 14px;
                            top: 497px;
                        }
                        div[class^=room14] {
                            width: 113px;
                            left: 227px;
                            top: 13px;
                        }
                        div[class^=room15] {
                            width: 113px;
                            left: 227px;
                            top: 109px;
                        }
                        .room16 {
                            left: 227px;
                            top: 303px;
                        }
                        div[class^=room17] {
                            width: 113px;
                            left: 227px;
                            top: 400px;
                        }
                        div[class^=room18] {
                            width: 113px;
                            left: 227px;
                            top: 497px;
                        }
                        div[class^=room19] {
                            width: 113px;
                            left: 59px;
                            top: 13px;
                        }
                        div[class^=room20] {
                            width: 113px;
                            left: 59px;
                            top: 109px;
                        }
                        .room21 {
                            left: 14px;
                            top: 206px;
                        }
                        .room22 {
                            left: 14px;
                            top: 302px;
                        }
                        div[class^=room23] {
                            width: 113px;
                            left: 59px;
                            top: 400px;
                        }
                        div[class^=room24] {
                            width: 113px;
                            left: 59px;
                            top: 497px;
                        }
                    }
                }
            }
        }
        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 30px;
            text-align: center;
            background-color: #BDBDBD;
            border-radius: 20px;
        }
    }
}
