<div id="messenger"></div>
<form id="reservation" action="" method="get" accept-charset="utf-8">
    <fieldset>
        <legend>Форма резервирования номера</legend>
        <span>Введите Ваше имя:</span>
        <input class="nameField" name="name" type="text" placeholder="Ваше имя">
        <br>
        <span>Введите Вашу фамилию:</span>
        <input class="surnameField" name="surname" type="text" placeholder="Ваша фамилия">
        <br>
        <span>Введите Ваш номер телефона:</span>
        <input class="phoneField" name="phone" type="" placeholder="+380996669966">
        <br>
        <span>Введите Ваш e-mail:</span>
        <input class="emailField" name="email" placeholder="mail@gmail.com">
        <br>
        <span>Выберите клас номера:</span>
        <div>
            <select id="roomType"></select>
        </div>
        <br>
        <span>Выберите количество мест:</span>
        <div>
            <select id="roomPlaces"></select>
        </div>
        <br>
        <span>Доступные номера:</span>
        <div>
            <select id="roomsList"></select>
        </div>
        <br>
        <span>Выберите дату въезда:</span>
        <input id="startDate" name="" value="" placeholder="01/01/2018">
        <br>
        <span>Выберите дату выезда:</span>
        <input id="endDate" name="" value="" placeholder="07/01/2018">
        <br>
        <button type="submit">Зарезервировать номер</button>
        <button type="reset">Очистить поля формы</button>
    </fieldset>
</form>
