<div class="contacts">
    <h2>Our contacts:</h2>
    <span>Kyiv, Parkova Doroha Street, 14</span>
    <br>
    <span>tel. +38(099)666-99-66</span><br>
    <span>fax +38(044)444-44-44</span>
    <br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.5648068568144!2d30.539754800702376!3d50.44920632382586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cfb28e54f345%3A0x9023366c49ec3ff4!2zSGVsaXBvcnQsINCf0LDRgNC60L7QstCwINC00L7RgNC-0LPQsCwg0JrQuNGX0LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1483972640634" width="600" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
