<section class="controls">
    <span>Sort by:</span>
    <select class="sortBy" name="">
        <option value="byNameAlph">name A-Z</option>
        <option value="byPriceIncrease">price growing</option>
        <option value="byPriceDecrease">price decreasing</option>
        <option value="byNameAlphReverse">name Z-A</option>
    </select>
    <span>Filter by place count:</span>
    <select class="byPlaceCountSorting" name="">
        <option value="notSelected">all</option>
        <option value="1">1-place</option>
        <option value="2">2-place</option>
        <option value="4">4-place</option>
    </select>
    <span>Filter by type:</span>
    <select class="byTypeSorting" name="">
        <option value="notSelected">all</option>
        <option value="Econom">econom</option>
        <option value="Standart">standart</option>
        <option value="Lux">lux</option>
        <option value="Business lux">business lux</option>
    </select>
</section>
