<div class="map">
    Choose date:
    <input id="checkRoomsStates" name="" value="">
    <br>
    <span>First floor</span>
    <div class="first_floor">
        <img src="images/roomsMap/first_floor.png" alt="">
        <div class="room1" ></div>
        <div class="room2" ></div>
        <div class="restourant" data-title=""><img src="images/roomsMap/restourantBackground.png" alt="" title="Our restourant"></div>
    </div>
    <span>Second floor</span>
    <div class="second_floor">
        <img src="images/roomsMap/second_floor.png" alt="">
        <div class="room3" data-title=""></div>
        <div class="room4" data-title=""></div>
        <div class="room5" data-title=""></div>
        <div class="room6" data-title=""></div>
        <div class="room7" data-title=""></div>
        <div class="room8" data-title=""></div>
        <div class="room9" data-title=""></div>
        <div class="room10" data-title=""></div>
        <div class="room11" data-title=""></div>
        <div class="room12" data-title=""></div>
        <div class="room13" data-title=""></div>
    </div>
    <span>Third floor</span>
    <div class="third_floor">
        <img src="images/roomsMap/third_floor.png" alt="">
        <div class="room14" data-title=""></div>
        <div class="room15" data-title=""></div>
        <div class="room16" data-title=""></div>
        <div class="room17" data-title=""></div>
        <div class="room18" data-title=""></div>
        <div class="room19" data-title=""></div>
        <div class="room20" data-title=""></div>
        <div class="room21" data-title=""></div>
        <div class="room22" data-title=""></div>
        <div class="room23" data-title=""></div>
        <div class="room24" data-title=""></div>
    </div>
</div>
