<div class="item">
    <h3></h3>
    <img src="" alt="hotel_room" />
    <section class="informationAboutRoom">
        Price: <span class="price"></span>
        <button>Book a room</button>
        <br>
        <span>Room description:</span>
        <br>
        <ul>
        </ul>
        <br>
        <a href="">More details...</a>
    </section>
</div>
