<div class="item">
    <h3><span></span>-places room</h3>
    <img src="" alt="hotel_room"/> Price: <span class="price"></span>
    <button>Book a room</button>
    <br>
    <span>Room description:</span>
    <br>
    <ul>
    </ul>
    <br>
    <span>Three-room suite with panoramic views of Independence Square with total area of 50 sq.m.There are a bedroom with "king size" bed, study with a desk and chair and a cozy living room in this category.</span>
    <div class="commentBox">
        first comment
    </div>
    Add comment:
    <br> Enter your name:
    <input type="text" class="authorName">
    <br>
    <textarea class="commentField" name="comments"></textarea>
    <br>
    <input class="addComment" type="button" name="" value="Add your comment" placeholder="">
</div>
